<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.jtb.csdroid.donate" android:versionCode="29" android:versionName="1.2.1">
	<application android:debuggable="true" android:icon="@drawable/icon"
		android:label="@string/app_name">
		<uses-library android:name="com.google.android.maps" />
		<activity android:name="org.jtb.csdroid.TabWidgetActivity"
			android:launchMode="singleTop" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.CREATE_SHORTCUT" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:name="org.jtb.csdroid.ClosestActivity" android:launchMode="singleTop" />
		<activity android:name="org.jtb.csdroid.SearchActivity" android:launchMode="singleTop" />
		<activity android:name="org.jtb.csdroid.FavesActivity" android:launchMode="singleTop" />
		<activity android:name="org.jtb.csdroid.DetailActivity" android:launchMode="singleTop"
			android:screenOrientation="landscape"/>
		<activity android:name="org.jtb.csdroid.PrefsActivity" />
		<activity android:name="org.jtb.csdroid.CSCMapActivity" />
	</application>
	<uses-sdk android:minSdkVersion="4" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
</manifest> 